{% extends "main/home.html" %}

{% block content %}
    <div>
        <h3 style="text-align: center;">About Parsers!</h3>
        <br>
        <h5 style="text-align: center;">Story of a Parsers! project, born from scratch...</h5>
        <br>
        <div id="about_content">
            <h6><p>Hello world!</p></h6>
            <p style="text-align: justify;">My name is Matteo and this project was born after I successfully passed my exam of Formal
                Languages and Compilers in January 2018. I cannot stop saying that this course was definitely
                the best of the whole Computer Science course.</p>
            <p style="text-align: justify;">For this reason I thought I could give myself a try with some challenges and proceed with the
                creation of the following parsers, written in Python. Sadly, I know that Python is sub-optimal
                for stuff like this (pure C could have been better), but at the moment I am pretty confident with it, so at first I developed
                the parsing scripts. After a while I decided I could make this more accessible to people by creating a web version of the
                scripts. This web tool is based on Django, just to stay in touch with Python :)</p>
            <p style="text-align: justify;">Some special thanks are given to Davide Benda, who helped me a lot during the testing session
                and made the first release possible.<p>
            <p style="text-align: justify;">More informations about me can be found <a href="https://www.linkedin.com/in/matteo-amatori-a82b54131/" target="_blank">here</a>
                on my LinkedIn profile.</p>
        </div>
    <div>
{% endblock %}
