{% extends "main/home.html" %}

{% load ff_lists_content %}

{% block content %}
    {% if grammar.grammar_used_parser == "lr0" %}
        <h3 class="title-parser-page">Grammar parsing using LR(0)-parser</h3>
    {% elif grammar.grammar_used_parser == "slr0" %}
        <h3 class="title-parser-page">Grammar parsing using SLR(0)-parser</h3>
    {% elif grammar.grammar_used_parser == "lr1" %}
        <h3 class="title-parser-page">Grammar parsing using LR(1)-parser</h3>
    {% elif grammar.grammar_used_parser == "lalr1" %}
        <h3 class="title-parser-page">Grammar parsing using LALR(1)-parser</h3>
    {% elif grammar.grammar_used_parser == "ll1" %}
        <h3 class="title-parser-page">Grammar parsing using LL(1)-parser</h3>
    {% endif %}
    <div class="container" id="parsing_header" style="display: flex;">
        <div id="grammar_productions_div">
            <h5>Productions:</h5>
            {% for element in grammar.productions_as_list %}
                <p>{{ element }}</p>
            {% endfor %}
        </div>
        <table class="table" id="first_and_follow_table">
            <thead>
                <tr>
                    <th>Non terminal</th>
                    <th>Set of FIRST symbols</th>
                    <th>Set of FOLLOW symbols</th>
                </tr>
            </thead>
            {% for first, follow in zip_obj %}
                <tr>
                    <td>{{ first.0 }}</td>
                    <td>{% get_joined_elements first.1 %}</td>
                    <td>{% get_joined_elements follow.1 %}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div id="parsing_content">
        <h4>Parsing table</h4>
    </div>
{% endblock %}
