{% extends "main/home.html" %}

{% load ff_lists_content %}

{% block content %}
    <div class="container">
        <br>
        {% for element in grammar.productions_as_list %}
            <p>{{ element }}</p>
        {% endfor %}
        <br>
        <table class="table">
            <thead>
                <tr>
                    <th>Non terminal</th>
                    <th>Set of FIRST symbols</th>
                    <th>Set of FOLLOW symbols</th>
                </tr>
            </thead>
            {% for first, follow in zip_obj %}
                <tr>
                    <td>{{ first.0 }}</td>
                    <td>{% get_joined_elements first.1 %}</td>
                    <td>{% get_joined_elements follow.1 %}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
