{% extends "main/home.html" %}

{% load static %}
{% load ff_lists_content %}

{% block content %}
    {% if grammar.grammar_used_parser == "lr0" %}
        <h3 class="title-parser-page">Grammar parsing using LR(0)-parser</h3>
    {% elif grammar.grammar_used_parser == "slr0" %}
        <h3 class="title-parser-page">Grammar parsing using SLR(0)-parser</h3>
    {% elif grammar.grammar_used_parser == "lr1" %}
        <h3 class="title-parser-page">Grammar parsing using LR(1)-parser</h3>
    {% elif grammar.grammar_used_parser == "lalr1" %}
        <h3 class="title-parser-page">Grammar parsing using LALR(1)-parser</h3>
    {% endif %}
    <div class="container" id="parsing_header" style="display: flex;">
        <div id="grammar_productions_div">
            <h5>Productions:</h5>
            {% for element in grammar.productions_as_list %}
                <p>{{element}}</p>
            {% endfor %}
        </div>
        <div style="width: inherit;">
            {% check_multiply_defined grammar.get_grammar_productions_as_list as is_multiply_defined %}
            {% if is_multiply_defined %}
                {% if grammar.grammar_used_parser == "lr0" %}
                    <h5>The grammar is not LR(0)</h5>
                {% elif grammar.grammar_used_parser == "slr0" %}
                    <h5>The grammar is not SLR(0)</h5>
                {% elif grammar.grammar_used_parser == "lr1" %}
                    <h5>The grammar is not LR(1)</h5>
                {% elif grammar.grammar_used_parser == "lalr1" %}
                    <h5>The grammar is not LALR(1)</h5>
                {% endif %}
            {% else %}
                {% if grammar.grammar_used_parser == "lr0" %}
                    <h5 id="parsing_res">The grammar is LR(0)</h5>
                {% elif grammar.grammar_used_parser == "slr0" %}
                    <h5 id="parsing_res">The grammar is SLR(0)</h5>
                {% elif grammar.grammar_used_parser == "lr1" %}
                    <h5 id="parsing_res">The grammar is LR(1)</h5>
                {% elif grammar.grammar_used_parser == "lalr1" %}
                    <h5 id="parsing_res">The grammar is LALR(1)</h5>
                {% endif %}
            {% endif %}
            <br>
            <table class="table table-bordered" id="first_and_follow_table">
                <thead>
                    <tr>
                        <th>Non terminal</th>
                        <th>Set of FIRST symbols</th>
                        <th>Set of FOLLOW symbols</th>
                    </tr>
                </thead>
                {% for first, follow in ff_obj %}
                    <tr>
                        <td>{{first.0}}</td>
                        <td>{% get_joined_elements first.1 %}</td>
                        <td>{% get_joined_elements follow.1 %}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <div class="container" id="parsing_content">
        <h5>Parsing table</h5>
        <table class="table table-bordered" id="first_and_follow_table">
            <thead>
                <tr>
                    <th style="width: 13rem;">States</th>
                    {% for terminal in grammar.get_terminals_as_list %}
                        <th style="text-align: center;">{{terminal}}</th>
                    {% endfor %}
                    {% for nonTerminal in grammar.get_nonTerminals_as_list %}
                        <th style="text-align: center;">{{nonTerminal}}</th>
                    {% endfor %}
                </tr>
            </thead>
                {% for row in grammar.get_grammar_productions_as_list %}
                    <tr>
                        {% for entry in row %}
                            {% check_entry_type entry as is_entry_state_column %}
                            {% if is_entry_state_column %}
                                <td>{{entry}}</td>
                            {% else %}
                                <td style="text-align: center;">{% get_joined_table_entries entry %}</td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
        </table>
        <h5>State diagram</h5>
        <img src="{% static 'img/graphs/' %}graph_{{grammar.id}}.png" id="state_diagram">
    </div>
{% endblock %}
