{% extends "main/home.html" %}

{% block content %}
    <div id="login_page_content">
        <h3>Login to your account</h3>
        <br>
        <form method ="POST">
            {% csrf_token %}
            {{form.as_p}}
            <input class="form-check-input" type="checkbox" id="login_gridCheck">
            <label class="form-check-label" for="gridCheck" id="login_gridCheck_label">Remember me</label>
            <button type="submit" class="btn btn-primary" id="login_submit_button">Login</button>
        </form>
        <br>
        <h6>If you don't have an account, you can <a href="/register">register</a> here instead.</h6>
    </div>
{% endblock %}
