{% extends "main/home.html" %}

{% block content %}
    <h3>LR(0)-parser page</h3>
    <br>
    <div id="lr0_content_container">
        <h5 id="grammar_subtitle"><p>Insert your grammar here:</p></h5>
        <h6><p>Note: The augumented grammar is created automatically.<br>The character '#' is treated as &epsilon;</p></h6>
        <div>
            <form method="POST">
                {% csrf_token %}
                {{ form }}
                <button type="submit" class="btn btn-primary btn-parser-page" id="lr0_parse_button">Parse!</button>
            </form>
        </div>
    </div>
{% endblock %}
