{% extends "main/home.html" %}

{% block content %}
    <h3>List of available bottom-up parsers:</h3>
    <div class="content container">
        <div class="row">
            <div id="lr0-card-div">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">LR(0) Parser</h5>
                        <a href="#" class="card-link">Card link</a>
                    </div>
                </div>
            </div>
            <div id="slr0-card-div">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">SLR(0) Parser</h5>
                        <a href="#" class="card-link">Card link</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div id="lr1-card-div">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">LR(1) Parser</h5>
                        <a href="#" class="card-link">Card link</a>
                    </div>
                </div>
            </div>
            <div id="lalr1-card-div">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">LALR(1) Parser</h5>
                        <a href="#" class="card-link">Card link</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <h3>List of available top-down parsers:</h3>
    <div class="content container">
        <div class="row">
            <div id="ll1-card-div">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">LL(1) Parser</h5>
                        <p class="card-text">This is an implementation of LL(1)-Parser</p>
                        <a href="#" class="card-link">Card link</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
