{% extends "main/home.html" %}

{% block content %}
    <div id="register_page_content">
        <h2 style="text-align: center;">Register a new account</h2>
        <br>
        <form method ="POST">
            {% csrf_token %}
            {{ reg_form.as_p }}
            <input class="form-check-input" type="checkbox" id="register_gridCheck">
            <label class="form-check-label" for="gridCheck" id="register_gridCheck_label">Remember me</label>
            <button type="submit" class="btn btn-primary" id="register_submit_button">Sign in</button>
        </form>
        <br>
        <h6>If you already have an account, you can <a href="/login">login</a> here instead.</h6>
    </div>
{% endblock %}
