{% extends "main/home.html" %}

{% load static %}

{% block content %}
    <div id="avatar_title_div">
        <div id="avatar_group">
            <img src="{% static 'img/default_avatar.png' %}" id="user_avatar">
            <img src="{% static 'img/upload_new_avatar.png' %}" id="upload_new_avatar">
        </div>
        <h2 id="user_page_title">{{user.username}} page</h2>
    </div>
    <br>
    <h4>Coming soon, stay tuned!</h4>
    <table class="table table-bordered" style="width: 80%">
        <tr>
            <th>Grammar productions</th>
            <th>Parser Used</th>
            <th>Date of submission</th>
            <th>Link to the parsing table</th>
        </tr>
        {% for element in grammars %}
            <tr>
                <td>{{ element.grammar_productions }}</td>
                {% if element.grammar_used_parser == "lr0" %}
                    <td style="text-align: center;">LR(0)</td>
                {% elif element.grammar_used_parser == "slr0" %}
                    <td style="text-align: center;">SLR(0)</td>
                {% elif element.grammar_used_parser == "lr1" %}
                    <td style="text-align: center;">LR(1)</td>
                {% elif element.grammar_used_parser == "lalr1" %}
                    <td style="text-align: center;">LALR(1)</td>
                {% elif element.grammar_used_parser == "ll1" %}
                    <td style="text-align: center;">LL(1)</td>
                {% endif %}
                <td>{{ element.grammar_timestamp }}</td>
                <td><input class="btn btn-primary btn-user-page" value="Parsing table" onclick="window.location.href='/{{element.grammar_used_parser}}-parser/parsing-grammar-{{element.id}}'"/></td>
            </tr>
        {% endfor %}
{% endblock %}
