{% if messages %}
    {% for message in messages %}
        <div aria-live="polite" aria-atomic="true">
            <div class="toast" style="position: absolute;" data-autohide="false">
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close" id="close-message-button">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="toast-body">
                    <h6>{{ message }}</h6>
                </div>
            </div>
        </div>
        <script>
            $(document).ready(
                function(){
                    $('.toast').toast('show');
                    setTimeout(function(){
                        $('.toast').toast('hide');
                    }, 3000);
                }
            );
        </script>
    {% endfor %}
{% endif %}
