/* Classes styles */
.card {
    height: 9rem;
    width: 21rem;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: .5rem;
    box-shadow: 0.1rem 0.50rem 0.75rem rgba(0,0,0,.2);
    overflow: hidden;
}

.card-body {
    position: relative;
    z-index: 1;
}

.card-body:after {
    z-index: -1;
    position: absolute;
    left: 0;
    top: -30;
    content: url('/static/img/graph.png');
    opacity: 0.3;
}

a.custom-card {
    color: black;
    text-decoration: none;
}

a.custom-card:hover {
    color: black;
    text-decoration: none;
}

.navbar-brand {
    padding-left: 10px;
    font-size: 26px;
}

.nav-item {
    padding-left: 10px;
    padding-right: 10px;
}

.toast {
    position: absolute;
    top: 5rem !important;
    right: 1rem !important;
    height: 70px;
    width: 300px;
    overflow: hidden;
    font-size: .1rem;
    background-color: rgba(255,255,255,.85);
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: .5rem;
    box-shadow: 0.1rem 0.50rem 0.75rem rgba(0,0,0,.2);
}

.toast-body {
    padding: 10px;
    text-align: center;
    padding-top: 25px;
}

.helptext {
    display: block;
    font-size: 14px;
    margin-bottom: 1.5rem;
}

.btn-user-page {
    width: -webkit-fill-available;
    height: inherit;
    cursor: pointer;
}

.btn-parser-page {
    width: 170px;
    position: absolute;
    margin-left: 30px;
    margin-top: 100px;
    cursor: pointer;
}

.title-parser-page {
    margin-bottom: 2rem;
}

/* Single elements styles */

/* Homepage */
#page_content_container {
    display: flex;
}

#bottom_up_title {
    position: absolute;
    top: 10%;
}

#bottom_up_cards {
    position: absolute;
    left: 30%;
    top: 15%;
}

#top_down_title {
    position: absolute;
    top: 62%;
}

#top_down_cards {
    position: absolute;
    top: 67%;
    left: 30%;
}

#lr0-card-div {
    padding: 20px;
}

#lr0_card_button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 120px;
    cursor: pointer;
}

#slr0-card-div {
    padding: 20px;
}

#slr0_card_button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 120px;
    cursor: pointer;
}

#lr1-card-div {
    padding: 20px;
}

#lr1_card_button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 120px;
    cursor: pointer;
}

#lalr1-card-div {
    padding: 20px;
}

#lalr1_card_button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 120px;
    cursor: pointer;
}

#ll1-card-div {
    padding: 20px;
}

#ll1_card_button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 120px;
    cursor: pointer;
}

#close-message-button {
    padding-right: 8px;
    padding-top: 3px;
}

/* Navbar */
#my_navbar {
    background-color: #71dab8 !important;
}

#user_icon {
    display: inline-block;
}

#user_link {
    display: inline-block;
    padding-left: 0;
}

/* Insert grammar page */
#lr0_content_container {
    text-align: center;
}

#slr0_content_container {
    text-align: center;
}

#lr1_content_container {
    text-align: center;
}

#lalr1_content_container {
    text-align: center;
}

#ll1_content_container {
    text-align: center;
}

/* Login page */
#login_page_content {
    position: absolute;
    margin-top: 1rem;
    left: 38%;
    top: 10%
}

#id_password {
    border-radius: 5px;
    border-width: 1px;
    display: block;
    width: 300px;
    margin-bottom: 1.5rem;
}

#id_password:focus {
    outline: -webkit-focus-ring-color auto 0px !important;
}

#login_gridCheck {
    margin-top: .4rem;
    margin-left: 0;
}

#login_gridCheck_label {
    margin-left: 1.3rem;
}

#login_submit_button {
    width: 150;
    float: right;
}

/* Sign-up page */
#register_page_content {
    position: absolute;
    margin-top: 1rem;
    left: 38%;
    top: 10%;
}

#id_username {
    border-radius: 5px;
    border-width: 1px;
    display: block;
    width: 300px;
    margin-bottom: 1.5rem;
}

#id_username:focus {
    outline: -webkit-focus-ring-color auto 0px !important;
}

#id_email {
    border-radius: 5px;
    border-width: 1px;
    display: block;
    width: 300px;
    margin-bottom: 1.5rem;
}

#id_email:focus {
    outline: -webkit-focus-ring-color auto 0px !important;
}

#id_password1 {
    border-radius: 5px;
    border-width: 1px;
    display: block;
    width: 300px;
}

#id_password1:focus {
    outline: -webkit-focus-ring-color auto 0px !important;
}

#id_password2 {
    border-radius: 5px;
    border-width: 1px;
    display: block;
    width: 300px;
}

#id_password2:focus {
    outline: -webkit-focus-ring-color auto 0px !important;
}

#register_gridCheck {
    margin-top: .4rem;
    margin-left: 0;
}

#register_gridCheck_label {
    margin-left: 1.3rem;
}

#register_submit_button {
    width: 150;
    float: right;
}

/* User page */
#avatar_group {
    display: inline;
}

#user_avatar {
    height: 12rem;
    display: inline;
}

#upload_new_avatar {
    height: 4rem;
    display: inline;
    z-index: 2;
    margin-left: -50px;
    margin-bottom: -130px;
    cursor: pointer;
}

#user_page_title {
    display: inline;
    margin-left: 4rem;
}

/* About page */
#about_content {
    margin-left: 10rem;
    margin-right: 10rem;
}

/* Parsers pages */
#grammar_productions_div {
    width: 20rem;
    font-size: 1.25rem;
}
